* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

header {
    width: 18%;
    height: 100vh;
    font-size: 18px;
    border-right: 1px solid rgb(218, 211, 211);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    width: auto;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.item {
    display: flex;
    margin: 7px 5px 7px 5px;
}

.item span {
    margin-right: 10px;
}

.item a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:black;
    width: 100%;
    display: flex;
}

.item a:hover {
    background-color: aliceblue;
}

.div {
    /* box-sizing: content-box; */
    padding: 15px;
    width: 24vw;
    display: flex;
    flex-direction: column;
    height: 30vh;
    border: 1px solid #cfcfcf;
    display: none;
}

.div h1 {
    text-decoration: underline;
}

.div form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    width: 100%;
    height: 4vh;
}

.btn {
    width: 3vw;
    height: 3vh;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.section-prod {
    width: 40vw;
    background-color: aqua;
    height: 30vh;
    display: flex;
}

.row {
    width: 100%;
    display: flex;
}

.nextprev-div {
    width: 50%;
}

.newsave-div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}